<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>

<p>	Kamba is your noticeboard about your or other people's experience with corruption eating our society. <br>Feel free to post anonimously for your security. Some things just need to change.</p>