<h1>About Us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>

<p>	The Kambas (Friends) is your noticeboard about your or other people's ideas of daily life experiences. Paid a bribe to someone? post it. Accident somewhere, people are not getting help? Post it. All subscribers. Help someone see what they aren't seeing and should see!

Enjoy it with The Kambas! </p>