<h1 font-color="white">About Us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>

<p>	The Kamba is your noticeboard about your or other people's experience with corruption. <br>Post anonimously for your security. Some things will (have to) change.</p>