<div class="jumbotron right">
	<h1>Welcome to Mó Kamba app</h1>
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn-primary btn-lg active" %>
	</p>
</div>
<p><B> This site is under construction. Check again soon.<B/></p>
	<p><em>Esta página está em construção. Visite-nos brevemente.</em></p>
	<p>By / por CÂNDIDO MENDES </p>