<div class="jumbotron right">
	<h1>Welcome to The Kambas app</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn-primary btn-lg active" %>
	</p>
</div>